### Android ###
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
local.properties
proguard/
*.log
.navigation/
gen-external-apklibs

### Intellij ###
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

### Gradle ###
.gradle
gradle-app.setting
!gradle-wrapper.jar
